@use './partials/variables' as *;

@import 'bootstrap/scss/bootstrap.scss';


$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

h1 {
  color: $color-my-primary;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.my-secondary {
  color: $color-my-secondary;
}

.my-logo {
  width: 55px;

  img {
    border-radius: 50%;
  }
}


#projects {
  img {
    height: 200px;
    object-fit: contain;
  }
}

// backgrounds
.my-bg-terciary {
  background-color: $color-my-terciary;
}

.my-badge-html {
  background-color: $my-blue-badge;
}

.my-badge-css {
  background-color: $yellow-300;
}

.my-badge-bootstrap {
  background-color: $indigo-500;
}

.my-badge-sass {
  background-color: $pink-300;
}

.my-badge-vuejs {
  background-color: $teal-600;
}

.my-badge-javascript {
  background-color: $yellow-400;
}

.my-badge-php8 {
  background-color: $blue-300;
}

.my-badge-sql {
  background-color: $orange-500;
}

.my-badge-laravel {
  background-color: $red;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  /* Durata e tipo di transizione */
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  /* Inizio o fine con opacità a 0 */
}